* { box-sizing: border-box; }
body{
  color: #fff;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.navbar-toggler-icon{
  height:1.2rem;
  width:1.2rem;
  vertical-align: top;;
}
#jumbotronSection{
  margin: 20px 0px 40px;
}

.jumbotron-mainheading
{
  font-size:50px;
}
.card-img-overlay button{
  margin: 0px auto;
}
