/* Add padding to container elements */
.editPromptContainer .container {
  padding: 16px;
}

/* The Modal (background) */
.editPromptContainer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  color: #000;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.editPromptContainer .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 500px;
  max-width: 95%;
}

/* Style the horizontal ruler */
.editPromptContainer hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Clear floats */
.editPromptContainer .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
