* { box-sizing: border-box; }

body{
  color: #fff;
}

#jumbotronSection{
  margin: 20px 0px 40px;
}

.jumbotron-mainheading{
  font-size:50px;
}

/*css for div that contains all the cards*/
#resContainer p{
  width: 100%;
}
#resContainer p{
  text-decoration: none;
  background-color: #f0f0f0;
  border: none;
  outline: none;
  display: inline-block;
  padding: 0px;
  color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin: 5px 0px;
  font-size: 18px;
}
#resContainer p:hover{
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

/*css for each card*/
/*Gives proper spacing and sets text*/
.cardContent {
  width: 90%;
  margin: 1.5%;
  text-align: center;
  background-color: #fff;
}

.cardContent h3{
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #212121;
}

.cardContent .links{
  overflow: auto;
  height: 150px;
  border: 2px solid #212121;
}


/*Style for cover(cover is used to give proper spacing between the
cards while using bootstrap grid system) of the card*/
.cardCover{
  margin: 10px 0px;
  float: left;
}

/*Right aligning flags*/
.links span{
  float: right;
  background-color: #aaa;
  margin: 0;
}
#note{
  background-color: black;
  color: white;
  text-align: center;
}
